/node_modules/
/dist/
/public/
/coverage/

# local env files
.env.local
.env.*.local

# Log files
inspect-result.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
/.idea/
/.vscode/
