.container {
  display: flex;
  justify-content: space-between;

  $gutter: 10px;

  margin: -$gutter/2;
  &__item {
    padding: $gutter/2
  }
  &#{&}--full-width {
    width: calc(100% + #{$gutter}/2);
  }

  &#{&}--column {
    flex-direction: column;
  }

  &#{&}--start {
    justify-content: flex-start;
  }

  &#{&}--wrap {
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    &#{&}--narrow {
      flex: none;
    }
  }
}