.demo-node-1 {
  cursor: pointer;
  padding-left: 20px;
  min-width: 100%;
  color: black;
  white-space: nowrap;
  display: block;
  &.demo-node-1--active * {
    background-color: #ebe5ff;
  }
  &.demo-node-1--stable {
    color: green;
  }
  &.demo-node-1--wip {
    color: #978d26;
  }
  &.demo-node-1--unstable {
    color: #d94d5e;
  }
  &.demo-node-1--hold {
    color: #b769d9;
  }
}