.demo-node {
  cursor: pointer;
  padding-left: 20px;
  color: black;
  white-space: nowrap;
  display: block;
  &#{&}--active * {
    background-color: #ebe5ff;
  }
  &#{&}--stable {
    color: green;
  }
  &#{&}--wip {
    color: #978d26;
  }
  &#{&}--unstable {
    color: #d94d5e;
  }
  &#{&}--hold {
    color: #b769d9;
  }
}