$fileWidth: 270px;

.root-container {
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;

  &__file-list {
    flex: 0 0 270px;

    //flex-basis: 270px
    padding: 10px;
    overflow: auto;
    background-color: white;
  }

  &__right-block {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .root-container__component {
      flex: 1 0;
      padding: 10px;
    }

    .root-container__info {
      flex: 0 0 150px;
      height: 300px;
    }
  }
}