.root-container {
  // Reset
  * {
    box-sizing: border-box;
  }

  $root: &;

  font-family: "Noto Sans", sans-serif;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;

  #{&}__file-list {
    flex: 0 0;
    padding: 10px;
    overflow: auto;
    background-color: white;
    border-right: solid 1px $border-color--main;
  }

  #{&}__right-block {
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;

    #{$root}__component {
      overflow: auto;
      flex: auto;
      padding: 10px;

      // This is required for position: absolute children to function properly
      width: 100%;
      height: 100%;
    }

    #{$root}__info {
      overflow: auto;
      flex: 0 0;
    }
  }
}